{{outlet}}

<div class="page">
  <div class="current-activity">
    <div>You should be excercising for the next 25 minutes</div>
  </div>

  <div class="reminders">
    <div class="reminder">no more eCig tonight</div>
    <div class="reminder">no more food tonight</div>
  </div>

  <div class="buttons">
    <a href="" class="button">I'm doing this</a>
    <a href="" class="button">I did it</a>
    <a href="" class="button">I'll do it later</a>
    <a href="" class="button">I'm not doing this</a>
    <a href="" class="button">I'm doing something else</a>
  </div>
</div>
