@import compass
@import reset
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900)
@import constants


html, body
  color: $clouds-color
  overflow: hidden
  font-family: lato
  letter-spacing: 2px
  text-shadow: 1px 1px black
  font-size: 16px
  +background-image(radial-gradient(#34495e 15%, #2c3e50 100%))

html, body, body > .content, body > .content > .ember-view
  height: 100%
  width: 100%
  // min-height: 568px
  // min-width: 320px

.button
  display: block
  padding: 0.75em
  // background-color: $wet-asphalt-color
  background-color: rgba(255,255,255,0.02)
  border-top: 1px solid rgba(0,0,0,0.2)
  text-align: center
  &:hover, &:active
    background-color: rgba(255,255,255,0.07)


.reminder
  padding: 0.25em



.index-view
  display: -webkit-flex
  display: -moz-flex
  display: flex
  +experimental(flex-direction, column)
  +experimental(flex-wrap, nowrap)
  +experimental(flex-flow, column nowrap)
  +experimental(justify-content, flex-start)
  +experimental(align-items, stretch)
  text-align: center


  .settings
    position: fixed
    top: 10px
    right: 10px

  .current-activity
    +experimental(order, 1)
    +experimental(flex-grow, 1)
    font-size: 19px
    padding: 0 1em

    display: -webkit-flex
    display: -moz-flex
    display: flex
    +experimental(align-items, center)
    +experimental(justify-content, center)
    line-height: 1.5

  .reminders
    +experimental(order, 2)
    +experimental(flex-grow, 1)
    +opacity(0.7)

  .buttons
    +experimental(order, 3)
    +experimental(flex-grow, 0)
